* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: var(--rubik);
}

a {
    color: transparent;
}

i {
    color: black;
}

/* light-theme */
:root {
    --primary-color: #0597F2; 
    --secondary-color: #57B7F2; 
    --terciary-color: #5EC8F2; 
    --dark-color: #0583F2; 
    --light-color: #DFEFF2;
    
    --rubik: "Rubik", sans-serif;
    --montserrat: "Montserrat", sans-serif;
}

.hide {
    display: none;
}