* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    font-family: var(--rubik);
}

a {
    color: transparent;
}

i {
    color: black;
}

/* light-theme */
:root {
    --primary-color: #14213D; 
    --secundary-color: #FCA311; 
    --terciary-color: #d4d4d4; 
    --dark-color: #000000; 
    --light-color: #FFFFFF;
    
    --rubik: "Rubik", sans-serif;
    --montserrat: "Montserrat", sans-serif;
}

.hide {
    display: none;
}