/* dark-theme */
.dark-theme:root {
    --primary-color: #14213D; 
    --secundary-color: #FCA311; 
    --terciary-color: #d4d4d4; 
    --dark-color: #000000; 
    --light-color: #FFFFFF;
} 

.dark-theme .introduction {
    background: linear-gradient(var(--primary-color), var(--dark-color));
}

.dark-theme .projects {
    background: linear-gradient(var(--dark-color), var(--primary-color));
}

.dark-theme .about {
    background: linear-gradient(var(--primary-color), var(--dark-color));
}

.dark-theme header {
    background-color: var(--dark-color);
}

.dark-theme h1 {
    color: var(--light-color);
}

.dark-theme h2 {
    color: var(--secundary-color); 
    border-bottom: 3px solid var(--secundary-color);
}

.dark-theme p  {
    color: var(--terciary-color);
}

.dark-theme .slider:before {
    background-color: var(--primary-color);
}

.dark-theme input:checked + .slider {
    background-color: var(--terciary-color);
}

.dark-theme .introduction__title span {
    color: var(--secundary-color);
}

.dark-theme .introduction__text {
    color: var(--terciary-color);
}

.dark-theme .nav__list li {
    background-color: var(--secundary-color);
}

.dark-theme .nav__list-item {
    color: var(--primary-color);
}

.dark-theme .download {
    background-color: var(--terciary-color);
    color: var(--primary-color);
}

.dark-theme .download:hover {
    background-color: var(--secundary-color);
}

.dark-theme .introduction__knowledge__list li {
    background-color: var(--primary-color);
}

.dark-theme .introduction__interest__list li {
    background-color: var(--primary-color);
}

.dark-theme .introduction__knowledge__list li:hover {
    background-color: var(--terciary-color);
}

.dark-theme footer {
    background-color: var(--primary-color);
}

.dark-theme .social-media__list a {
    background-color: var(--terciary-color);
}

.dark-theme .social-media__list a:hover {
    background-color: var(--secundary-color);
    color: var(--dark-color);
}

.dark-theme .fa-solid, .fa-regular {
    color: var(--terciary-color);
}

@media screen and (min-width: 940px) {
    .dark-theme header {
        background: linear-gradient(to bottom, var(--dark-color), var(--primary-color));
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 0;
    }

    .dark-theme .nav__list li {
        background-color: transparent;
    }

    .dark-theme .nav__list-item {
        color: var(--secundary-color);
    }

    .dark-theme .nav__list-item:hover {
        color: var(--terciary-color);
    }
}