/* dark-theme */
.dark-theme:root {
    --primary-color: #42208C; 
    --secondary-color: #322073; 
    --terciary-color: #202359; 
    --dark-color: #0D2840; 
    --light-color: #50D4F2; 
} 

.dark-theme body {
    background-color: var(--dark-color);
}

.dark-theme header {
    background-color: var(--primary-color);
}

.dark-theme h1 {
    color: var(--light-color);
}

.dark-theme h2 {
    color: var(--light-color); 
    border-bottom: 3px solid var(--primary-color);
}

.dark-theme p  {
    color: white;
}

.dark-theme .introduction__title span {
    color: var(--primary-color);
}

.dark-theme .introduction__text {
    color: white;
}

.dark-theme .nav__list li {
    background-color: transparent;
}

.dark-theme .nav__list-item {
    color: var(--light-color);
}

.dark-theme .download {
    background-color: var(--primary-color);
    color: var(--light-color);
}

.dark-theme .download:hover {
    background-color: var(--light-color);
    color: var(--terciary-color);
}

.dark-theme .introduction__knowledge__list li {
    background-color: var(--light-color);
}

.dark-theme .introduction__interest__list li {
    background-color: var(--light-color);
}

.dark-theme .introduction__knowledge__list li:hover {
    background-color: var(--secondary-color);
}

.dark-theme .introduction__interest__list li:first-child {
    background-color: transparent;
}

.dark-theme footer {
    background-color: var(--primary-color);
}

.dark-theme .social-media__list a {
    background-color: var(--light-color);
}

.dark-theme .social-media__list a:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.dark-theme .fa-brands:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
}

.dark-theme .fa-solid, .fa-regular {
    color: var(--light-color);
}

@media screen and (min-width: 940px) {
    .dark-theme .nav__list-item:hover {
        color: var(--dark-color);
    }

    .dark-theme footer {
        box-shadow: 0 0 20px #57B7F2;
    }
}