@media screen and (min-width: 940px) {
    header {
        background: linear-gradient(to bottom, var(--terciary-color), var(--light-color));
        box-shadow: 5px 0 10px rgba(0, 0, 0, 0.226);
        border-radius: 0;
    }

    .fa-solid, .fa-regular {
        color: var(--dark-color);
    }

    .slider {
        background-color: var(--dark-color);
    }

    header, footer {
        padding: .5rem 1rem;
    }
    
    .nav__list {
        flex-basis: 0;
        margin: 0;
    }

    .nav__list ul {
        display: flex;
        flex-direction: row;
        width: auto;
        gap: 1rem;
    }
    
    .nav__list li {
        margin-bottom: .25rem;
        background-color: transparent;
        padding: 0;
        margin: 0;
        transition: .5s ease;
    }

    .nav__list-item {
        padding: .5rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--dark-color);
    }

    .nav__list-item:hover {
        color: var(--secundary-color);
    }

    .nav__list li:hover {
        background-color: transparent;
    }
    
    .introduction__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 3rem;
    }

    .introduction__content > div {
        max-width: 100%;
    }

    .introduction__img {
        display: inline-block;
    }

    .introduction__img img{
        max-width: 25rem;
    }

    .introduction__knowledge__list li, .introduction__interest__list li {
        width: 40%;
    }

    .about > div {
        display: flex;
        max-width: 80rem;
        margin: 0 auto;
    }

    .about__content {
        width: 60%;
    }

    .about__img {
        width: 40%;
    }

    .about img {
        display: inline-block;
        max-width: 100%;
    }

    .social-media__list a {
        padding: .25rem 1.5rem;
        transition: .5s ease-in-out;
    }
}

@media screen and (min-width: 1200px) {
    .introduction__title, h2 {
        font-size: 2rem;
    }

    p, a {
        font-size: 1.5rem;
    }

    .light, .dark {
        width: 4rem;
    }

    .introduction {
        padding-top: 9rem;
    }

    .fa-solid, .fa-brands:before {
        font-size: 2rem; 
    }

    article img {
        height: 6rem;
    }

    .introduction__content, article, .projects div, .about__content {
        max-width: 80rem;
        margin: 0 auto;
    } 
}