body {
    width: 100vw;
    height: 100vh;
}

/* HEADER */
header {
    background-color: var(--dark-color);
    padding: .5rem 1rem;
    border-radius: 0 0 .5rem .5rem;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 95rem;
    margin: 0 auto;
}

.header__content div {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.light {
    width: 4rem;
    border-radius: 50%;
}

.dark {
    width: 4rem;
}

h2 {
    font-family: var(--montserrat);
    border-bottom: 3px solid var(--dark-color);
    margin-top: 3rem;
}

.nav__list {
    flex-basis: 100%;
    text-align: center;
      
    border-radius: .25rem;
    margin: 1rem 0 -.5rem 0;
}

.nav__list ul {
    width: 100%;
}

.nav__list li {
    margin-bottom: .25rem;
    background-color: var(--light-color);
    padding: .5rem 1rem;
}

.nav__list li:hover {
    background-color: var(--secundary-color);
    color: var(--dark-color);
    font-weight: 700;
    transform: scale(1.2);
}

.nav__list-item {
    color: var(--dark-color);
    padding: .5rem 30%;
}

/* SWITCH */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
    
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
    
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--light-color);
    -webkit-transition: .4s;
    transition: .4s;
}
    
.slider:before {
    position: absolute;
    content: "☀️";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--terciary-color);
    -webkit-transition: .4s;
    transition: .4s; 
        
    display: flex;
    justify-content: center;
    align-items: center;
}
    
input:checked + .slider {
    background-color: #2b2b2b;
}
    
input:focus + .slider {
    box-shadow: 0 0 1px #2b2b2b;
}
    
input:checked + .slider:before {
    content: "🌙";
    height: 26px;
    width: 26px;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
    
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
    
.slider.round:before {
    border-radius: 50%;
}

/* INTRODUCTION */
.introduction {
    background: linear-gradient(var(--light-color), var(--terciary-color));
    padding-top: 5rem;
}

.introduction__content {
    padding: 4rem 1rem;
}

.introduction__title {
    font-family: var(--montserrat);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.introduction__title span {
    color: var(--secundary-color);
}

.introduction__text, p {
    color: rgb(83, 83, 83);
}

.introduction__img {
    display: none;
}

.introduction__content div {
    margin-top: 1.5rem;
}

.download {
    padding: 1rem;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: 700;
    border-radius: .25rem;

    transition: .5s ease;
}

.download:hover {
    background-color: var(--secundary-color);
}

.introduction__knowledge {
    margin-top: 2rem;
    padding: 0 1rem;
}

.introduction__interest {
    padding: 0 1rem;
}

.introduction__knowledge__list, .introduction__interest__list{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
}

.introduction__knowledge__list li, .introduction__interest__list li {
    padding: 1rem;
    width: min(7rem, 90%);
    background-color: var(--primary-color);
    border-radius: .25rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .25rem;

    transition: .5s ease;
}

.introduction__knowledge__list li:hover {
    background-color: var(--secundary-color);
    transform: scale(1.2);
}

article img{
    height: 3rem;
}

.star-html::after { content: "⭐⭐⭐⭐"; }
.star-css::after { content: "⭐⭐⭐⭐"; }
.star-vsc::after { content: "⭐⭐⭐⭐"; }
.star-js::after { content: "⭐⭐⭐"; }
.star-git::after { content: "⭐⭐⭐"; }
.star-gh::after { content: "⭐⭐⭐"; }
.star-sass::after { content: "⭐⭐"; }
.star-figma::after { content: "⭐⭐"; }

/* PROJECTS */
.projects {
    background: linear-gradient(var(--terciary-color), var(--light-color));
    padding-top: 5rem;
}

.projects div {
    padding: 0 1rem;
}

.projects h2 {
    margin: 0;
    padding-top: 3rem;
}

.projects__list {
    padding-top: 1rem;
    border-radius: .25rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}    

.projects__img {
    max-width: 100%;
}

.projects__list-item{
    position: relative;
    max-width: 30rem;
}

.projects__languages {
    background: linear-gradient(to bottom, var(--dark-color), transparent);
    padding: .5rem;
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
    pointer-events: none;
    opacity: 0;

    transition: all .5s ease;
}

.projects__languages::after {
    content: "";
    background: url(../images/svg/html.svg) no-repeat center center;
    background-size: 55px 66px;
    display: inline-block;
    width: 45px;
    height: 60px;
}

.projects__languages::before {
    content: "";
    background: url(../images/svg/css.svg) no-repeat center center;
    background-size: 52px 60px;
    display: inline-block;
    width: 60px;
    height: 60px;
}

.projects__js::after {
    content: "";
    background: url(../images/svg/javascript.svg) no-repeat center center;
    background-size: 43px 43px;
    display: inline-block;
    width: 80px;
    height: 60px;
}

.projects__links {
    background: linear-gradient(to bottom, transparent, var(--dark-color));
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: .5rem 0;

    position: absolute ;
    bottom: 0;

    visibility: hidden;
    pointer-events: none;
    opacity: 0;

    transition: all .5s ease;
}

.projects__list-item:hover > span {
    visibility: visible;
    pointer-events: all;
    opacity: 1;
}

.projects a {
    padding: .5rem;
    background-color: var(--secundary-color);
    border-radius: .25rem;
    color: var(--light-color);

    transition: all .5s ease;
}

.projects a:hover {
    transform: scale(1.1);
    filter: brightness(2px);
}

/* ABOUT */
.about {
    background: linear-gradient(var(--light-color), var(--terciary-color));
    padding: 5rem 1rem 5rem 1rem;
}

.about h2 {
    margin-top: 2rem;
}

.about__text {
    margin: 1rem 0 0 0;
    line-height: 1.4;
}

.about__profile {
    padding-top: 3rem;
    display: flex;
    flex-direction: column
}

.about__profile-text {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

/* FOOTER */
footer {
    padding: .5rem;
    border-radius: .5rem .5rem 0 0;
    position: fixed;
    bottom: 0;
    background-color: var(--dark-color);
    width: 100%;
}

.social-media__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.social-media__list a {
    background-color: var(--terciary-color);
    padding: .25rem 1rem;
    border-radius: .25rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.253);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .5s ease-in-out;
}

.social-media__list a:hover {
    transform: rotateY(180deg);
    background-color: var(--secundary-color);
}

.social-media__list i {
    font-size: 1.5rem;
} 

.fa-solid, .fa-regular {
    font-size: 1.5rem;
    color: var(--light-color);
    cursor: pointer;
}